[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = https://github.com/kenwolverine1/kenwolverine1.github.io
	branch = main
